<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi! I'm Leila, an ambitious tech enthusiast and Software Developer from Baku, Azerbaijan, studying in Istanbul, Turkey. 
         I'm a senior year Computer Engineering student at Beykoz University. 
         My main interest field is Machine Learning, AI, and Data Analytics.
         I've developed many programming projects based on Python during my internships and university period. </p>
      </div>
      <div class="col-lg-4">
        <p>My current goal is to gain experience in the Tech field as a Computer Engineer / Software Developer. 
           Feel free to reach out and connect with me anytime! ✨👩🏻‍💻 
           I'm open to new opportunities and positions in Software World! You can download and check out my resume from the link above! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/1uQF532VDI7ku3yhMGlLjj_jC7U62kG3S/view?usp=share_link" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download My CV! 📄
        </a>
      </div>
    </div>
  </div>
</section>
